.main, .main > div:last-child {
    display: grid;
}

.main {
    grid-template-rows: 45px 1fr;
    color: #393939;
}

.main > div:first-child,
.main [data-split-gutter],
.main [data-button]
{
    border: dashed 0px #919191;
}

.main > div:first-child {
    color: #ccc;
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    border-bottom-width: 1px;
    user-select: none;
}

.main [data-split-gutter] {
    border-left-width: 1px;
    border-right-width: 1px;
}

.main [data-overflow="auto"] {
    overflow: auto;
    padding: 10px;
}

.main [data-button] {
    display: flex;
    align-items: center;
    border-width: 1px;
    border-radius: 4px;
    margin-bottom: 8px;
    justify-content: center;
}

.main [data-split-container] > div:first-child {
    background-color: #f9f9f9;
}

.main [data-split-container] > div:last-child {
    background-color: #fff;
}